.big {
    width: 100%;
    height: 100%;
    position: fixed;
    left: 0;
    top: 0;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
    margin: 0;
    /*opacity: 0.9;*/
}

.login-box {
    background-color: rgb(255, 255, 255);
    border-radius: 27px;
    box-shadow: 0 0 100px #6d6d6d;
    color: #ffffff;
}

#title {
    border-top: 2px solid #FFF;
    border-bottom: 2px solid #FFF;
    border-left: 2px solid #FFF;
    border-right: 2px solid #FFF;
    border-radius: 100px;
    font-size: 36px;
    padding: 15px 0 8px;
    background-color: #2f8639;
    height: 72px;
}