<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{fragments/main_layout}">
    <head>
        <title>Teller Payments</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <div layout:fragment="pageStyle" th:remove="tag">
            <link th:href="@{/assets/plugins/bootstrap-tagsinput/css/bootstrap-tagsinput.css}" rel="stylesheet" />
            <link rel="stylesheet" th:href="@{/assets/plugins/switchery/switchery.min.css}">
            <link th:href="@{/assets/plugins/select2/css/select2.min.css}" rel="stylesheet" type="text/css" />
            <link th:href="@{/assets/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
            <link th:href="@{/assets/plugins/bootstrap-colorpicker/css/bootstrap-colorpicker.min.css}" rel="stylesheet">
            <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
            <link th:href="@{/assets/plugins/clockpicker/css/bootstrap-clockpicker.min.css}" rel="stylesheet">
            <link th:href="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.css}" rel="stylesheet">
        </div>
        <div class="container" layout:fragment="contents">
            <div class="col-sm-12" >
                <div class="col-sm-2" th:each="module:${modules}">
                    <a th:href="${module.module_dashboard_url}" style="font-size:  13PX;color: black;font-weight: bold; font-family: sans-serif"><img th:src="@{${module.image_url}}" style="    width: 85px;"/> <br/> <Strong th:text="${module.name}">TISS/TT PAYMENTS</strong></a>
                </div>
            </div>
        </div>
        <div layout:fragment="pageScript" th:remove="tag">
            <script th:src="@{/assets/plugins/bootstrap-tagsinput/js/bootstrap-tagsinput.min.js}"></script>
            <script th:src="@{/assets/plugins/select2/js/select2.min.js}" type="text/javascript"></script>
            <script th:src="@{/assets/plugins/bootstrap-filestyle/js/bootstrap-filestyle.min.js}" type="text/javascript"></script>
            <script th:src="@{/assets/plugins/switchery/switchery.min.js}"></script>
            <script type="text/javascript" th:src="@{/assets/plugins/parsleyjs/parsley.min.js}"></script>
            <script th:src="@{/assets/plugins/moment/moment.js}"></script>
            <script th:src="@{/assets/plugins/timepicker/bootstrap-timepicker.js}"></script>
            <script th:src="@{/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
            <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
            <script th:src="@{/assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js}"></script>
            <script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
            <!--<script th:src="@{/assets/plugins/summernote/summernote-bs.min.js}"></script>-->
            <script>
                $(document).ready(function () {
                    $('#preloader').hide();
                    $('#preloader2').hide();
                    $('input[id$=datepicker-autoclose]').datepicker({dateFormat: 'yy-mm-dd'});
                    /*  Submit form using Ajax */
                    $('button[type=submit]').click(function (e) {
                        $('#preloader2').show();
                        //Prevent default submission of form
                        e.preventDefault();
                        //Remove all errors
                        $('input').next().remove();
                        var txnType = $("select[name='txnType']").val();
                        var txnDate = $("input[name='txnDate']").val();
                        $.ajax({
                            url: "/getReconDashboard",
                            type: 'GET',
                            data: {txnType: txnType, txnDate: txnDate},
                            dataType: "json",
                            success: function (res) {
                                $('.error').html('');
                                if (res.validated) {
                                    $('#preloader2').hide();
                                    location.reload();
                                } else {
                                    $('#preloader2').hide();
                                    $.each(res.errorMessages, function (key, value) {
                                        $('Select[name=' + key + ']').after('<span class="error" style="color:red">' + value + '</span>');
                                        $('input[name=' + key + ']').after('<span class="error" style="color:red">' + value + '</span>');
                                    });
                                }
                            }
                        })
                    });
                    //load the tab content
                    $('[data-toggle="tab"]').click(function (e) {
                        $("#preloader").show();
                        var $this = $(this),
                                loadurl = $this.attr('data-url');
                        $.ajax({
                            url: loadurl,
                            type: 'GET',
                            success: function (res) {
                                $("#tabContent").html(res).return;
                                //$("#tabContent").show();
                                $("#preloader").hide();
                            }
                        });
                        //$this.tab('show');

                        return true;
                    });
                });
            </script>
        </div>
    </body>
</html>
