<div layout:fragment="pageStyle" th:remove="tag">
    <style>
        #loading {
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 92%;
            width: 100%;
            z-index: 9999999;
        };

        .btn{
            border-radius: 0px !important;
        }

        .btn:hover {
            color: #ffffff !important;
            text-decoration: none;
        }

        .button.selected{
            background-color: #3db9dc!important;
            border: 1px solid #3db9dc!important;
        }
    </style>
    <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/select.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/sweet-alert2/sweetalert2.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
</div>
<div class="row">
    <div class="panel panel-default panel-fill">
        <div class="panel-heading">
            <h4 class="panel-title" th:text="${pageTitle}"></h4>
        </div>
        <div class="panel-body">
            <div class="row" id="pensionBatchesForm">
                <form role="form">
                    <div class="row">
                        <div class="form-group col-md-2">
                            <select class="form-control col-sm-12 select2 select2-hidden-accessible" id="institutionDetails" name="institutionDetails" style="font-size: 10px !important;" tabindex="-1" aria-hidden="true">
                                <option value="">Select Institution</option>
                                <option th:each="institution: ${institutions}" th:value="${institution.accountNo}" th:text="${institution.accountName}">
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="input-group">
                                <input name="fromDate"
                                       class="form-control form-control-inline input-txndatemedium default-date-picker"
                                       id="datepicker-autoclose" data-date-format="yyyy-mm-dd" type="text"
                                       placeholder="From: yyyy-mm-dd" autocomplete="off"/>
                                <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-3">
                            <div class="input-group">
                                <input name="toDate"
                                       class="form-control form-control-inline input-txndatemedium default-date-picker"
                                       id="datepicker-autoclose2" data-date-format="yyyy-mm-dd" type="text"
                                       placeholder="To: yyyy-mm-dd" autocomplete="off"/>
                                <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                            </div>
                        </div>
                        <div class="form-group col-md-1">
                            <div class="form-group col-md-3 text-right m-b-0" style="margin: 2%;">
                                <button type="button" class="btn btn-primary btn-submit-pension-batch-Summary">Search</button>
                            </div>
                        </div>
                    </div>
                </form>
            </div>
            <div id="successFlag"></div>
            <div id="loading" hidden=""></div>
            <div class="row">
                <table id="pensionBatchSummary" class="display nowrap table table-striped table-bordered"
                       style="width: 100%; font-size: 9.5px !important;">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>batch Ref</th>
                            <th>No Of Txns</th>
                            <th>Total Volume</th>
                            <th>Batch Description</th>
                            <th>Success Count</th>
                            <th>Success Volume</th>
                            <th>Failed Count</th>
                            <th>Failed Volume</th>
                            <th>Status</th>
                            <th>Action</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.select.min.js}"></script>
    <!-- init -->
    <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
    <!-- App Js -->
    <script th:src="@{/assets/js/jquery.app.js}"></script>
    <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
    <script th:src="@{/assets/plugins/sweet-alert2/sweetalert2.min.js}"></script>
    <script th:src="@{/assets/scripts/teller.js}"></script>
    <script th:src="@{/assets/scripts/expenditure.js}"></script>
    <script th:src="@{/assets/scripts/pension.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        let userRoles = /*[[${roleId}]]*/;
        let workflowArr =[[${session.authorizedGPPWFArray}]];
        $(document).ready(function () {
            console.log(workflowArr);
            $(".select2").select2({width: 'auto'});
            jQuery('#datepicker-autoclose').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            jQuery('#datepicker-autoclose2').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $("#loading").hide();
            $(".select2").select2();
            $('.authorize-payments').attr('disabled', 'disabled');
            $("#institutionDetails").on('change', function () {
                $('#pensionBatchSummary').DataTable().ajax.reload();
            });
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var b = 1;
            var i = 0;
            $('#process_pension').hide();
            $('#return_pension').hide();
            $('#download_pension').hide();

            $('.btn-submit-pension-batch-Summary').click(function () {
                $('#pensionBatchSummary').DataTable().ajax.reload(function(json) {
                    if (json.aaData.length > 0) {
                        const found = json.aaData.some(el => el.status === 'A');
                        if (workflowArr.includes(2) && found) {
                            $('#process_pension').show();
                            $('#return_pension').show();
                        } else if (workflowArr.includes(4)) {
                            $('#download_pension').show();
                        } else {
                            $('#process_pension').hide();
                            $('#return_pension').hide();
                        }
                    }
                });
            });
            loadPensionData(token, header);
        });

        function reloadDatatable() {
            $('#pensionBatchSummary').DataTable().ajax.reload();
        }

        function loadPensionData(token, header) {
            var table = $('#pensionBatchSummary').DataTable({
                dom: 'Blfrtip',
                lengthChange: true,
                scrollCollapse: true,
                scrollY: "700px",
                scrollX: true,
                pageLength: 10,
                select: true,
                lengthMenu: [
                    [5, 10, 25, 50, 100, 500, -1],
                    [5, 10, 25, 50, 100, 500, 'Show all']
                ],
                responsive: false,
                processing: true,
                serverSide: true,
                serverMethod: 'post',
                order: [1, "desc"],
                ajax: {
                    'url': '/getPensionBatchesAjax',
                    'beforeSend': function (request) {
                        request.setRequestHeader(header, token);
                    },
                    "data": function (d) {
                        return $.extend({}, d, {
                            "institutionName": $("select[name='institutionDetails']").val(),
                            "fromDate": $("input[name='fromDate']").val(),
                            "toDate": $("input[name='toDate']").val(),
                        });
                    }
                },
                "columns": [
                    {
                        "data": null,
                        "orderable": false,
                        "searchable": false
                    },
                    {"data": "reference"},
                    {"data": "noOfTxns"},
                    {
                        "data": "totalAmount",
                        "render": function (data) {
                            var amount = addCommas(data);
                            return amount;
                        }
                    },
                    {"data": "batchDescription"},
                    {"data": "successCount"},
                    {
                        "data": "successTxnVolume",
                        "render": function (data) {
                            var amount = addCommas(data);
                            return amount;
                        }
                    },
                    {"data": "failedCount"},
                    {
                        "data": "failedTxnVolume",
                        "render": function (data) {
                            var amount = addCommas(data);
                            return amount;
                        }
                    },
                    {
                        "data": "status",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            var a = '';
                            if (row.status === "P") {
                                a = "Batch sent to suspense"
                            }
                            if (row.status === "C") {
                                a = "Batch posted successfully"
                            }
                            return a;
                        }
                    },
                    {
                        "data": "reference",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            var a;
                            a = '<button type="button" onclick="previewPensionPayrollDetails(\'' + row.reference + '\',\'I\')"><img src="/assets/images/accepted.png" style="width:20px;" title="Preview valid Accounts"></button>';
                            a += '<button type="button" onclick="previewPensionPayrollDetails(\'' + row.reference + '\',\'F\')"><img src="/assets/images/rejection.png" style="width:20px;" title="Preview non Valid Accounts"></button>';
                            return a;
                        }
                    }
                ],
                aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: [-1],
                    }
                ],
                buttons: [{
                        extend: "copy",
                        title: 'Pension Batch Summary',
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        title: 'Pension Batch Summary',
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        title: 'Pension Batch Summary',
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        title: 'Pension Batch Summary',
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        title: 'Pension Batch Summary',
                        className: "btn-sm"
                    }],
                "preDrawCallback": function (settings) {
                    if ($("select[name='institutionName']").val() == '') {
                        return false;
                    }
                },
            });
            table.on('order.dt search.dt', function () {
                table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        }
    </script>
</div>
