<div layout:fragment="pageStyle" th:remove="tag">
  <style>
        #loading {
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 92%;
            width: 100%;
            z-index: 9999999;
        };
        #rtgsTxnOnWorkFlow{
            table-layout: fixed !important;
            word-wrap:break-word;
        }
    </style>
  <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" rel="stylesheet" type="text/css"/>
  <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
</div>
<div class="row">
  <div class="panel panel-default panel-fill" id="tabContents"><div class="panel-heading"> <h4 class="panel-title" th:text="${pageTitle}"></h4></div>
    <div class="panel-body">
      <div id="successFlag">
      </div>
      <div  id="loading" hidden=""> </div>
      <div class="row">
        <table id="mobile-movement-table" class="display nowrap table table-striped table-bordered" style="width: 100%; font-size: 7.5px !important;">
          <thead>
          <tr>
            <th>ID</th>
            <th>Movement Code</th>
            <th>Movement Type</th>
            <th>Source Account</th>
            <th>Destination Account</th>
            <th>Amount</th>
            <th>Reference</th>
            <th>Initiated By</th>
            <th>Initiated Date</th>
            <th>Approved By</th>
            <th>Approved Date</th>
            <th>Narration</th>
            <th>Action</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
          <tfoot>
          <tr>
            <th colspan="5" style="text-align:right">SUM OF AMOUNT FOR CURRENT PAGE / SUM OF AMOUNT FOR ALL PAGES:</th>
            <th colspan="3"></th>
          </tr>
          </tfoot>
        </table>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
  <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
  <!-- init -->
  <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
  <!-- App Js -->
  <script th:src="@{/assets/js/jquery.app.js}"></script>
  <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
  <script th:src="@{/assets/scripts/transactions.js}"></script>

  <script>
        $(document).ready(function () {
            $("#loading").hide();
            $("#select2").select2();
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var b = 1;
            var i = 0;
            var table = $('#mobile-movement-table').DataTable({
                dom: 'Blfrtip',
                lengthChange: true,
                scrollCollapse: true,
                scrollX: true,
                pageLength: 10,
                lengthMenu: [
                    [5, 10, 25, 50, 100, 500, -1],
                    [5, 10, 25, 50, 100, 500, 'Show all']
                ],
                responsive: false,
                processing: true,
                serverSide: true,
                serverMethod: 'post',
                order: [1, "desc"],
                ajax: {
                    'url': '/fireGetCMTxnsForPVWFAjax',
                    'beforeSend': function (request) {
                        request.setRequestHeader(header, token);
                    }

                },
                "columns": [
                    {"data": "id", "width": "5%", },
                    {"data": "code", "width": "5%", },
                    {"data": "message_type", "width": "5%", },
                    {"data": "sourceAcct", "width": "5%", },
                    {"data": "destinationAcct", "width": "5%", },
                    {"data": "amount", "width": "5%",
                        "render": function numberWithCommas(amount) {
                            return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                         }
                    },                    {"data": "reference", "width": "5%", },
                    {"data": "initiated_by", "width": "5%", },
                    {"data": "create_dt", "width": "5%", },
                    {"data": "branch_approved_by", "width": "5%", },
                    {"data": "branch_approved_dt", "width": "5%", },
                    {"data": 'comments', "width": "5%", },
                    {"data": 'id',
                        "searchable": false,
                        "width": "5%",
                        "render": function (data, type, row, meta) {
                                    a = '<div><a class="btn btn-xs btn-primary" onclick="authorizeCMTransactionPVWF(\'' + row.reference + '\')"><i class="fa fa-check-circle-o" aria-hidden="true"> Authorize</i></a></div>';
                                    return a;
                        }}
                ], aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: [-1],
                    }
                ], columnDefs: [
                    {width: 1000, targets: 14}
                ],
                buttons: [{
                        extend: "copy",
                        title: 'Mobile cash-Movement',
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        title: 'Mobile cash-Movement',
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        title: 'Mobile cash-Movement',
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        title: 'Mobile cash-Movement',
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        title: 'Mobile cash-Movement',
                        className: "btn-sm"
                    }],
                    footerCallback: function (row, data, start, end, display) {
                                var api = this.api();

                                // Remove the formatting to get integer data for summation
                                var intVal = function (i) {
                                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                                };

                                // Total over all pages
                                total = api
                                    .column(5)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Total over this page
                                pageTotal = api
                                    .column(5, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Update footer
                                $(api.column(5).footer()).html('' + addCommas(pageTotal) + ' TZS / ('+  addCommas(total) + ' TZS)');
                            },
            });
            table.on('order.dt search.dt', function () {
                table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        function reloadDatatable() {
            $('#tipsTxnOnWorkFlow').DataTable().ajax.reload();
        }
    </script>
</div>
