<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns:th="http://www.w3.org/1999/xhtml"
      layout:decorate="~{fragments/main_layout}">
<head>
  <title layout:title-pattern="Cilantro ~ Dashboard">GePG TRANSACTIONS</title>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <div layout:fragment="pageStyle" th:remove="tag">
    <style>
            #loading {
                background: url('/assets/images/ajax-loader.gif') no-repeat center center;
                position: absolute;
                top: 0;
                left: 0;
                height: 92%;
                width: 100%;
                z-index: 9999999;
            };
            #rtgsTxnOnWorkFlow{
                table-layout: fixed !important;
                word-wrap:break-word;
            }
        </style>
    <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">


  </div>
</head>
<body>
<div class="row" layout:fragment="contents">
  <div class="panel panel-default panel-fill" id="tabContentsss"><div class="panel-heading">
    <h4 class="panel-title" id="gepg-header" >GePG TRANSACTIONS</h4>
    <h4 class="panel-title" style="display:none;" id="completed_gepg" >GePG COMPLETED TRANSACTIONS</h4>
    <h4 class="panel-title" style="display:none;" id="pending_gepg" >GePG PENDING TRANSACTIONS</h4>
    <h4 class="panel-title" style="display:none;" id="all_gepg">GePG ALL TRANSACTIONS</h4>
  </div>
    <div class="panel-body">
      <div class="row" id="preloader2" >
        <img th:src="@{/assets/images/itaxloading.gif}" alt="please wait"/>
      </div>
      <div class="row">
        <form role="form" id="gepg-form">
          <div class="row">
            <div class="form-group col-md-3">
              <!--<label>Report Type</label>-->
              <div class="input-group">
                <select class="form-control select2" id="txnStatus"  name="txnStatus">
                  <option value="null" selected disabled>Select Type...</option>
                  <option value="ALL">All Transactions</option>
                  <option value="COMPLETED">Completed Transactions</option>
                  <option value="PENDING">Pending Transactions</option>
                </select>
              </div>
            </div>
            <div class="form-group col-md-3">
              <!--<label>From Date</label>-->
              <div class="input-group">
                <input name="fromDate" th:value="${startDate}" class="form-control form-control-inline input-txndatemedium default-date-picker"  id="datepicker-autoclose" data-date-format="yyyy-mm-dd" type="text" placeholder="From date: yyyy-mm-dd" autocomplete="off"/>
                <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
              </div><!-- input-group -->
            </div>
            <div class="form-group col-md-3">
              <!--<label>To Date</label>-->
              <div class="input-group">
                <input name="toDate" th:value="${endDate}"  class="form-control form-control-inline input-txndatemedium default-date-picker"  id="datepicker-autoclose2" data-date-format="yyyy-mm-dd" type="text" placeholder="To date: yyyy-mm-dd" autocomplete="off"/>
                <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
              </div><!-- input-group -->
            </div>
            <div class="form-group col-md-3">
              <div class="form-group col-md-3 text-right m-b-0" style="margin: 2%;">
                <button  type="button" class="btn btn-info btn-submit-inwardEft-Summary" onclick="doAjaxSearching()">Search</button>
              </div>
            </div>
          </div>
        </form>
      </div>
      <div id="successFlag">
      </div>
      <div  id="loading" hidden=""> </div>
      <div class="row">
        <table id="gepgTransactionsSummary" class="display nowrap table table-striped table-bordered" style="width: 100%; font-size: 9.5px !important;">
          <thead>
          <tr>
            <th>ID</th>
            <th>Control No</th>
            <th>Amount</th>
            <th>Currency</th>
            <th>Payer</th>
            <th>Status</th>
            <th>Cbs Status</th>
            <th>Message</th>
            <th>Mode</th>
            <th>Date</th>
          </tr>
          </thead>
          <tbody>
          </tbody>
        </table>
        <!--</form>-->
      </div>
    </div>
  </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
  <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
  <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
  <!-- init -->
  <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
  <script th:src="@{/assets/plugins/moment/moment.js}"></script>
  <script th:src="@{/assets/plugins/timepicker/bootstrap-timepicker.js}"></script>
  <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

  <!-- App Js -->
  <script th:src="@{/assets/js/jquery.app.js}"></script>
  <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
  <script th:src="@{/assets/scripts/teller.js}"></script>
  <script th:src="@{/assets/scripts/eft.js}"></script>
  <script>
            $(document).ready(function () {

                    $('#preloader2').hide();

                jQuery('#fromTime').timepicker({
                    showMeridian: false
                });
                jQuery('#toTime').timepicker({
                    showMeridian: false
                });
                jQuery('#datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                jQuery('#datepicker-autoclose2').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

            });

      function doAjaxSearching() {
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                var formdata = new FormData($('#gepg-form')[0]);
                var count = 0;
               $("#preloader2").show();
                var ttype = $('#txnStatus').val();
                $.ajax({
                    processData: false,
                    contentType: false,
                    data: formdata,
                    type: "POST",
                    'url': '/fireGePGTransactionsAjax',
                    beforeSend: function (request) {
                        request.setRequestHeader(header, token);
                        $("#preloader2").show();
                    },

                    success: function (response) {
                       $("#preloader2").hide();
                       if(ttype==="COMPLETED"){
                             $("#gepg-header").hide();
                             $("#pending_gepg").hide();
                              $("#all_gepg").hide();
                             $("#completed_gepg").show();

                       }else if(ttype === "PENDING"){
                             $("#gepg-header").hide();
                             $("#all_gepg").hide();
                             $("#completed_gepg").hide();
                             $("#pending_gepg").show();
                       }else{
                              $("#gepg-header").hide();
                             $("#completed_gepg").hide();
                             $("#pending_gepg").hide();
                             $("#all_gepg").show();
                       }
                        console.log(response);
                        if (response.status === "SUCCESS") {
                            var table = $('#gepgTransactionsSummary').DataTable({
                                dom: 'Blfrtip',
                                "info": true,
                                "bDestroy": true,
                                // lengthChange: false,
                                lengthMenu: [10, 25, 50, 100, 200, 300, 500, 1000],
                                responsive: true,
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                "data": response.result,
                               columns: [
                               {data:'ID',
                                  "render": function(data){
                                  count +=1;
                                  return count;
                                  }
                                  },
                                {data: 'control_no'},
                                {data: 'amount'},
                                {data: 'currency_code'},
                                {data: 'taxpayer_name'},
                                {data: 'status'},
                                {data: 'cbs_status'},
                                {data: 'message'},
                                {data: 'paymentmode'},
                                {data: 'validatedon'},
                                ]
                            });
                            table.buttons().container().appendTo('#gepg-form-buttons_wrapper .col-md-6:eq(0)');

                        } else if (response.status === "ERROR") {
                           //error with response
                           alert('error');
                        }
                    },
                    error: function (e) {
                        console.log(e);
                    }
                });
            }
        </script>
</div>

</body>
</html>



