<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
    <head>
        <meta charset="utf-8"/>
        <title>Cilantro System</title>
        <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
        <meta content="Cilantro is a fully featured Reconciliation System" name="description" />
        <meta content="Amecore Technologies Company Limites" name="author" />
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <!-- App favicon -->
        <link rel="shortcut icon" th:href="@{/assets/images/favicon.png}">
        <!--Morris Chart CSS -->
        <link rel="stylesheet" th:href="@{/assets/plugins/morris/morris.css}">
        <!-- App css -->
        <link th:href="@{/assets/css/bootstrap.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/icons.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/metismenu.min.css}" rel="stylesheet" type="text/css" />
        <link th:href="@{/assets/css/style.css}" rel="stylesheet" type="text/css" />
        <script th:src="@{/assets/js/modernizr.min.js}"></script> 
    </head>
</html>
