<!DOCTYPE html>
<!--
To change this license header, choose License Headers in Project Properties.
To change this template file, choose Tools | Templates
and open the template in the editor.
-->
<html>
    <head>
        <title layout:title-pattern="Cilantro ~ Dashboard">Permission Denied</title>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
    </head>
    <body>
        <!--<div class="container" layout:fragment="contents">-->
            <div class="row">
                <div class="col-sm-12">
                    <div style="" class="text-center">
                        <h3 style="color:red"><strong>PERMISSION DENIED</strong></h3>
                        <h3 class="alert alert-danger" th:text="${session.error}"></h3>
                    </div>
                </div>
            </div>
        <!--</div>-->
    </body>
</html>
