<div layout:fragment="pageStyle" th:remove="tag">
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
</div>
<div class="panel panel-default panel-fill" id="tabContentsss">
    <div class="panel-heading"><h4 class="panel-title" th:text="${pageTitle}"></h4></div>
    <div class="panel-body">
        <div class="row">
            <form id="general-reports-form" role="form">
                <div class="row">
                    <div class="form-group col-md-4">
                        <label style="margin-left:1px; importrant;">Direction</label>
                        <select class="form-control" id="ledgerOrStatement" name="ledgerOrStatement" selected="selected"
                                style="width: 550px">
                            <option disabled selected value="">CHOOSE...</option>
                            <option value="STATEMENT">STATEMENT TRANSACTIONS</option>
                            <option value="LEDGER">LEDGER TRANSACTIONS</option>
                        </select>
                    </div>
                    <div class="form-group col-md-4">
                        <label style="margin-left:1px; importrant;">From Date</label>
                        <div class="input-group">
                            <input autocomplete="off" class="form-control form-control-inline input-txndatemedium default-date-picker" data-date-format="yyyy-mm-dd" id="datepicker-autoclose" name="fromDate" placeholder="From date: yyyy-mm-dd" th:value="${startDate}" type="text"/>
                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                        </div><!-- input-group -->
                    </div>
                    <div class="form-group col-md-4">
                        <label style="margin-left:1px; importrant;">To Date</label>
                        <div class="input-group">
                            <input autocomplete="off" class="form-control form-control-inline input-txndatemedium default-date-picker" data-date-format="yyyy-mm-dd" id="datepicker-autoclose2" name="toDate" placeholder="To date: yyyy-mm-dd" th:value="${endDate}" type="text"/>
                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                        </div><!-- input-group -->
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="form-group col-md-3 text-right m-b-0" style="margin-bottom:1px;">
                            <button class="btn btn-info" id="searchGeneralTxnsReport" type="button">Search</button>
                        </div>
                    </div>
                </div>
            </form>
        </div>
        <div id="successFlag">
        </div>
        <div class="row" id="loading2">
            <img alt="please wait" th:src="@{/assets/images/please_wait.gif}"/>
        </div>

        <div class="row">
            <!--<form>-->
            <table class="display nowrap table table-striped table-bordered" id="directionBasedTxnReports"
                   style="width: 100%; font-size: 7.5px !important; display:none;">
                <thead>
                <tr>
                    <th>S/N</th>
                    <th>Txn Date</th>
                    <th>Sender Acct</th>
                    <th>Beneficiary Account</th>
                    <th>Amount</th>
<!--                    <th>Currency</th>-->
                    <th>Bank Reference</th>
                    <th>Direction</th>
                </tr>
                </thead>
                <tbody>
                </tbody>

            </table>

            <!--</form>-->
        </div>
    </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
    <!-- init -->
    <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
    <!-- App Js -->
    <script th:src="@{/assets/js/jquery.app.js}"></script>
    <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
    <script th:src="@{/assets/scripts/tipsRecon.js}"></script>
    <script>
        $(document).ready(function () {
            $("#loading2").hide();
                 jQuery('#fromTime').timepicker({
                    showMeridian: false
                });
                jQuery('#toTime').timepicker({
                    showMeridian: false
                });
                jQuery('#datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                jQuery('#datepicker-autoclose2').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

             $("#searchGeneralTxnsReport").click(function (e) {
                e.preventDefault();

                var direction = $("#ledgerOrStatement").val();
                if(direction == null){
                    alert("Transaction direction can not be empty");
                }else{

                var formData = new FormData($('#general-reports-form')[0]);
                var token = $("meta[name='_csrf']").attr("content");
                var header = $("meta[name='_csrf_header']").attr("content");
                var count = 0;
               $("#loading2").show();

               //ajax start
                $.ajax({
                    processData: false,
                    contentType: false,
                    data: formData,
                    type: "POST",
                    'url': '/fireGeneralTxnReportAjax',
                    beforeSend: function (request) {
                        request.setRequestHeader(header, token);
                        $("#loading2").show();
                    },

                    success: function (response) {
                       $("#loading2").hide();
                        console.log(response);
                           $("#directionBasedTxnReports").show();

                            var table = $('#directionBasedTxnReports').DataTable({
                                dom: 'Blfrtip',
                                "info": true,
                                "bDestroy": true,
                                lengthMenu: [10, 25, 50, 100, 200, 300, 500, 1000],
                                buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                "data": response.result,
                               columns: [
                                     {"data": "count",
                                      "render":function(data, type,row,meta){
                                            return count +=1;
                                      }
                                      },
                                    {"data": "TXNDATE"},
                                    {"data": "ACCOUNT"},
                                    {"data": "DESTINATION_ACCT" },
                                    {"data": "AMOUNT"},
<!--                                    {"data": "CURRENCY"},-->
                                    {"data": "RECEIPTNO"},
                                    {"data": 'IDENTIFIER'}
                                ]
                            }); //END DATATABLE

                            table.buttons().container().appendTo('#directionBasedTxnReports-buttons_wrapper .col-md-6:eq(0)');

                    },
                    error: function (e) {
                        $("#preloader2").hide();
                        console.log(e);
                    }
                });
                //end ajax
                }
            });//end change

        });// end document ready

        function reloadDatatable() {
            $('#directionBasedTxnReports').DataTable().ajax.reload();
        }

         function addCommas(nStr) {
            nStr += '';
            x = nStr.split('.');
            x1 = x[0];
            x2 = x.length > 1 ? '.' + x[1] : '';
            var rgx = /(\d+)(\d{3})/;
            while (rgx.test(x1)) {
                x1 = x1.replace(rgx, '$1' + ',' + '$2');
            }
            return x1 + x2;
        }
    </script>

</div>
