<div layout:fragment="pageStyle" th:remove="tag">
    <style>
        #loading {
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 92%;
            width: 100%;
            z-index: 9999999;
        }
    </style>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" type="text/css"/>
    <link rel="stylesheet" th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}">
    <link rel="stylesheet" th:href="@{/assets/plugins/select2/css/select2.min.css}" type="text/css"/>
    <!--    <script src="https://code.jquery.com/jquery-1.12.4.js"></script>-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.3/jspdf.min.js"></script>
    <script src="https://html2canvas.hertzen.com/dist/html2canvas.js"></script>
</div>

<div class="row">
    <div class="col-sm-12">
        <div id="reconData" layout:fragment="contents">
            <div class="panel panel-default panel-fill">
                <div class="panel-heading"><h4 class="panel-title" th:text="${pageTitle}"></h4></div>
                <div class="panel-body">
                    <div class="row" id="preloader2">
                        <img alt="please wait" th:src="@{/assets/images/please_wait.gif}"/>
                    </div>
                    <!--- success start--->
                    <div class="col-md-12" id="successFlag"></div>
                    <!------ End ------->
                    <br>
                    <!--- FORM START ----->
                    <div class="row" id="another-element">
                        <form id="form2" role="form">
                            <div class="row">
                                <div class="form-row" >
                                    <div class="form-group col-md-3">
                                        <label style="margin-left:1px; importrant;">Report Type</label>
                                        <select class="form-control select2" id="reportType" name="reportType"
                                                style="width: 550px">
                                            <option disabled selected value="">CHOOSE...</option>
                                            <option value="INWARD_SUMMARY_PER_BANK">Inward Summary Per Bank</option>
                                            <option value="OUTWARD_SUMMARY_PER_BANK">Outward summary per Bank</option>
                                            <option value="OUTWARD_SUMMARY_PER_BRANCH">Outward Summary per Branch</option>
                                            <option value="HAZINA_PENSION_TRANS_LISTING">Hazina pension transactions listing</option>
                                            <option value="RETURNED_TXNS">Returned Transaction</option>
                                            <option value="REJECTED_TXNS">Rejected transactions (Failed to reach TACH)</option>
                                            <option value="SETTLED_COMPLETED_TXNS">Settled and Completed transaction summary</option>
                                            <option value="INCOMING_FAILED_TO_CREDIT_CUSTOMERS">Incoming EFT Failed To Credit Customers</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3" style="display:none;" id="bankDependant">
                                        <label style="margin-left:1px; importrant;">Bank Type</label>
                                        <select class="form-control select2" id="bankName" name="bankName" selected="selected"
                                                style="width: 550px">
<!--                                            <option disabled selected value="">CHOOSE...</option>-->
                                            <option  selected value="ALL">ALL</option>
                                            <option th:each="bank : ${banks}" th:value="${bank.swift_code}" th:text="${bank.name}">kds</option>
                                        </select>
                                    </div>
                                    <div class="form-group col-md-3" style="display:none;" id="branchDependant">
                                        <label style="margin-left:1px; importrant;">Brach Name</label>
                                        <select class="form-control select2" id="branchCode" name="branchCode"
                                                style="width: 550px">
<!--                                            <option disabled selected value="">CHOOSE...</option>-->
                                            <option  selected value="ALL">ALL</option>
                                            <option th:each="branch : ${branches}" th:value="${branch.code}" th:text="${branch.name}">hen</option>
                                        </select>
                                    </div>

                                    <div class="form-group col-md-3">
                                        <label style="margin-left: 1% ! important;">From Date <i class="text-danger">*</i></label>
                                        <div class="input-group">
                                            <input autocomplete="off"
                                                   class="form-control form-control-inline input-txndatemedium default-date-picker"
                                                   data-date-format="yyyy-mm-dd"
                                                   id="datepicker-autoclose" name="fromDate"
                                                   placeholder="From date: yyyy-mm-dd"
                                                   th:value="${fromDate}" type="text"/>
                                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                    <div class="form-group col-md-3">
                                        <label style="margin-left: 1% ! important;">To Date<i class="text-danger">*</i></label>
                                        <div class="input-group">
                                            <input autocomplete="off"
                                                   class="form-control form-control-inline input-txndatemedium default-date-picker"
                                                   data-date-format="yyyy-mm-dd"
                                                   id="datepicker-autoclose2" name="toDate"
                                                   placeholder="To date: yyyy-mm-dd"
                                                   th:value="${toDate}" type="text"/>
                                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                                        </div><!-- input-group -->
                                    </div>
                                    <div class="form-group col-md-3">
                                        <div class="form-group col-md-3 text-right m-b-0" style="margin-top: 25px; ">
                                            <button type="button" class="btn btn-primary" id="searchBtn" style="background-color: #769b77!important">Search</button>
                                        </div>
                                    </div>
                                </div>
                        </form>
                    </div>

                    <!--- FORM END ---->
                    <!-- HEN INWARD_SUMMARY_PER_BANK  OR OUTWARD_SUMMARY_PER_BANK START-->
                    <div class="row" th:insert="/modules/eft/reports/reconDataTables :: InwardOrOutwardSummaryPerBank" id="div1">
                    </div>
                    <!-- HEN INWARD_SUMMARY_PER_BANK OR OUTWARD_SUMMARY_PER_BANK END-->
                    <!-- HEN OUTWARD_SUMMARY_PER_BRANCH START-->
                    <div class="row" th:insert="/modules/eft/reports/reconDataTables :: OUTWARD_SUMMARY_PER_BRANCH" id="div2">
                    </div>
                    <!-- HEN OUTWARD_SUMMARY_PER_BRANCH END-->

                </div>

            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
    <script th:src="@{/assets/plugins/timepicker/bootstrap-timepicker.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap-colorpicker/js/bootstrap-colorpicker.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>
    <script th:src="@{/assets/plugins/clockpicker/js/bootstrap-clockpicker.min.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap-daterangepicker/daterangepicker.js}"></script>
    <!-- init -->
    <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
    <!-- App Js -->
    <script th:src="@{/assets/js/jquery.app.js}"></script>
    <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
    <script th:src="@{/assets/scripts/loan.js}"></script>
    <script>
        $(document).ready(function () {
            $("#preloader2").hide();
               $(".select2").select2({width:'100%',});
               jQuery('#fromTime').timepicker({
                    showMeridian: false
                });
                jQuery('#toTime').timepicker({
                    showMeridian: false
                });
                jQuery('#datepicker-autoclose').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });
                jQuery('#datepicker-autoclose2').datepicker({
                    autoclose: true,
                    todayHighlight: true
                });

                $('#reportType').change(function(e){
                    e.preventDefault();
                var reportType = $(this).val();
                if(reportType == 'INWARD_SUMMARY_PER_BANK' || reportType == 'OUTWARD_SUMMARY_PER_BANK'){
                //display banks
                $('#bankDependant').show();
                $('#branchDependant').hide();
                }else if(reportType == 'OUTWARD_SUMMARY_PER_BRANCH'){
                //display branches
                $('#bankDependant').hide();
                $('#branchDependant').show();
                }else{
                $('#bankDependant').hide();
                $('#branchDependant').hide();
                }
                });
            $('#searchBtn').click(function(){
               var reportType = $('#reportType').val();
               if(reportType==null){
                  $('#successFlag').html("<div class='alert alert-danger btn-xs'><h6>PLEASE CHOOSE REPORT TYPE</h6></div>");
                }else{
                $('#successFlag').hide();

                  if(reportType == 'INWARD_SUMMARY_PER_BANK' || reportType == 'OUTWARD_SUMMARY_PER_BANK'|| reportType == 'HAZINA_PENSION_TRANS_LISTING' || reportType == 'REJECTED_TXNS' || reportType == 'SETTLED_COMPLETED_TXNS' || reportType == 'INCOMING_FAILED_TO_CREDIT_CUSTOMERS'){
                    $('#OUTWARD_SUMMARY_PER_BRANCH_DT').DataTable().destroy();
                    var formData = new FormData($('#form2')[0]);
                    var token = $("meta[name='_csrf']").attr("content");
                    var header = $("meta[name='_csrf_header']").attr("content");
                  var count = 0;
                    $.ajax({
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: "POST",
                        'url': '/fireGetEftReconReportAjax',
                        beforeSend: function (request) {
                            request.setRequestHeader(header, token);
                            $("#preloader2").show();
                        },

                        success: function (response) {
                                $("#preloader2").hide();
                                $('#OUTWARD_SUMMARY_PER_BRANCH_DT').DataTable().destroy();
                                $('#OUTWARD_SUMMARY_PER_BRANCH_DT').hide();
                                $("#inwardOrOutwardDataTebo").show();
                                var table = $('#inwardOrOutwardDataTebo').DataTable({
                                    dom: 'Blfrtip',
                                    "info": true,
                                    "bDestroy": true,
                                    lengthMenu: [10, 25, 50, 100, 200, 300, 500, 100000],
                                    scrollX: true,
                                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                    "data": response.result,
                                    columns: [
                                         {"data": "count",
                                          "render":function(data, type,row,meta){
                                                return count +=1;
                                          }
                                          },
                                          {"data": "reference"},
                                          {"data": "sourceAcct"},
                                          {"data": "senderBIC"},
                                          {"data": "sender_name"},
                                          {"data": "destinationAcct"},
                                          {"data": "amount",
                                           "render": function numberWithCommas(amount) {
                                            return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                          }
                                          },
                                          {"data": "currency"},
                                          {"data": "beneficiaryName"},
                                          {"data": "beneficiaryBIC"},
<!--                                          {"data": "status"},-->
<!--                                          {"data": "cbs_status"},-->
                                          {"data": "comments"},
                                          {"data": "message"},
<!--                                          {"data": "create_dt"},-->
<!--                                          {"data": "value_date"},-->
                                          {"data": "direction"},
                                           {"data": "initiated_by"},
                                          {"data": "create_dt"},
                                           {"data": "branch_approved_by"},
                                           {"data": "branch_approved_dt"},
                                           {"data": "hq_approved_by"},
                                           {"data": "hq_approved_dt"},
                                    ],
                                    footerCallback: function (row, data, start, end, display) {
                                var api = this.api();

                                // Remove the formatting to get integer data for summation
                                var intVal = function (i) {
                                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                                };

                                // Total over all pages
                                total = api
                                    .column(6)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Total over this page
                                pageTotal = api
                                    .column(6, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Update footer
                                $(api.column(6).footer()).html('' + addCommas(pageTotal) + ' TZS / ('+  addCommas(total) + ' TZS)');
                            },
                                    });
                                table.buttons().container().appendTo('#inwardOrOutwardDataTebo .col-md-6:eq(0)');
                        },
                        error: function (e) {
                            $("#preloader2").hide();
                               $("#OUTWARD_SUMMARY_PER_BRANCH_DT").hide();
                               $("#inwardOrOutwardDataTebo").show();
                            console.log(e);
                        }
                    }); //end ajax
                  }else if(reportType=='OUTWARD_SUMMARY_PER_BRANCH'){
                       $('#inwardOrOutwardDataTebo').DataTable().destroy();
                        var formData = new FormData($('#form2')[0]);
                        var header = $("meta[name='_csrf_header']").attr("content");
                        var token = $("meta[name='_csrf']").attr("content");
                        var count2 = 0;

                      $.ajax({
                        processData: false,
                        contentType: false,
                        data: formData,
                        type: "POST",
                        'url': '/fireGetEftReconReportAjax',
                        beforeSend: function (request) {
                            request.setRequestHeader(header, token);
                            $("#preloader2").show();
                        },

                        success: function (response) {
                                $("#preloader2").hide();
                                    $("#inwardOrOutwardDataTebo").hide();
                                    $("#OUTWARD_SUMMARY_PER_BRANCH_DT").show();
                                var table = $('#OUTWARD_SUMMARY_PER_BRANCH_DT').DataTable({
                                    dom: 'Blfrtip',
                                    "info": true,
                                    "bDestroy": true,
                                    lengthMenu: [10, 25, 50, 100, 200, 300, 500, 100000],
                                    scrollX: true,
                                    buttons: ['copy', 'csv', 'excel', 'pdf', 'print'],
                                    "data": response.result,
                                    columns: [
                                         {"data": "count",
                                          "render":function(data, type,row,meta){
                                                return count2 +=1;
                                          }
                                          },
                                          {"data": "reference"},
                                          {"data": "branchName"},
                                          {"data": "initiated_by"},
                                          {"data": "create_dt"},
                                           {"data": "branch_approved_by"},
                                           {"data": "branch_approved_dt"},
                                           {"data": "hq_approved_by"},
                                           {"data": "hq_approved_dt"},
                                           {"data": "sourceAcct"},
                                           {"data": "sender_name"},
                                           {"data": "senderBIC"},
                                           {"data": "destinationAcct"},
                                           {"data": "amount",
                                           "render": function numberWithCommas(amount) {
                                            return amount.toString().replace(/\B(?=(\d{3})+(?!\d))/g, ",");
                                          }
                                          },
                                           {"data": "currency"},
                                           {"data": "beneficiaryName"},
                                           {"data": "beneficiaryBIC"},
                                           {"data": "comments"},
                                           {"data": "message"},
                                           {"data": "create_dt"},
                                           {"data": "direction"}
                                    ],
                                    footerCallback: function (row, data, start, end, display) {
                                var api = this.api();

                                // Remove the formatting to get integer data for summation
                                var intVal = function (i) {
                                    return typeof i === 'string' ? i.replace(/[\$,]/g, '') * 1 : typeof i === 'number' ? i : 0;
                                };

                                // Total over all pages
                                total = api
                                    .column(13)
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Total over this page
                                pageTotal = api
                                    .column(13, { page: 'current' })
                                    .data()
                                    .reduce(function (a, b) {
                                        return intVal(a) + intVal(b);
                                    }, 0);

                                // Update footer
                                $(api.column(13).footer()).html('' + addCommas(pageTotal) + ' TZS / ('+  addCommas(total) + ' TZS)');
                            }
                                    });
                                table.buttons().container().appendTo('#OUTWARD_SUMMARY_PER_BRANCH_DT .col-md-6:eq(0)');
                        },
                        error: function (e) {
                            $("#preloader2").hide();
                                $("#inwardOrOutwardDataTebo").hide();
                                $("#OUTWARD_SUMMARY_PER_BRANCH_DT").show();
                            console.log(e);
                        }
                    }); //end ajax
                  }
              }//end report type not null
            }); //end click function

        }); //END DOCUMENT READY

  </script>
</div>
</body>
</html>

