<div layout:fragment="pageStyle" th:remove="tag">
    <style>
        #loading {
            background: url('/assets/images/ajax-loader.gif') no-repeat center center;
            position: absolute;
            top: 0;
            left: 0;
            height: 92%;
            width: 100%;
            z-index: 9999999;
        };
        #rtgsTxnOnWorkFlow{
            table-layout: fixed !important;
            word-wrap:break-word;
        }
        .flex-row {
            display: flex;
            flex-direction: row;
            align-items: center;
            justify-content: center;
        }

        fieldset {
            margin-bottom: 20px;
        }

        @media print {
            .no-print, .no-print * {
                display: none !important;
            }
        }
    </style>
    <link th:href="@{/assets/plugins/datatables/jquery.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/buttons.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/responsive.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/scroller.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.colVis.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/dataTables.bootstrap.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/datatables/fixedColumns.dataTables.min.css}" rel="stylesheet" type="text/css"/>
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/timepicker/bootstrap-timepicker.min.css}" rel="stylesheet">
    <link th:href="@{/assets/plugins/bootstrap-datepicker/css/bootstrap-datepicker.min.css}" rel="stylesheet">
</div>
<div class="row no-print">
    <div class="panel panel-default panel-fill" id="mangeCustomers">
        <div class="panel-heading"> <h4 class="panel-title" th:text="${pageTitle}"></h4></div>
        <div class="panel-body">
            <form role="form">
                <div class="row">
                    <div class="form-group col-md-3">
                        <div class="input-group">
                            <input id="fromDate" name="fromDate" class="form-control form-control-inline input-medium default-date-picker" data-date-format="yyyy-mm-dd" type="text" placeholder="From Date" autocomplete="off"/>
                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                        </div><!-- input-group -->
                    </div>
                    <div class="form-group col-md-3">
                        <div class="input-group">
                            <input id="toDate" name="toDate" class="form-control form-control-inline input-medium default-date-picker" data-date-format="yyyy-mm-dd" type="text" placeholder="To Date" autocomplete="off"/>
                            <span class="input-group-addon"><i class="mdi mdi-timer"></i></span>
                        </div><!-- input-group -->
                    </div>
                    <div class="form-group col-md-3" style="margin-top: auto; margin-bottom: auto;">
                        <button type="button" class="btn btn-primary btn-submit-kyc-customers">Search</button>
                    </div>
                </div>
                <div class="row">
                    <div class="form-group col-md-3" th:if="${branch == '060'}">
                        <div class="input-group">
                            <select class="form-control col-sm-12 select2" id="branch" name="branch" style="font-size: 10px !important;">
                                <option value="">Select Branch</option>
                                <option th:each="branch: ${branches}" th:value="${branch.code}" th:text="${branch.name}"></option>
                            </select>
                        </div><!-- input-group -->
                    </div>
                    <div class="form-group col-md-3">
                        <div class="input-group">
                            <select class="form-control col-sm-12 select2" id="type" name="type" style="font-size: 10px !important;">
                                <option value="">Select Type</option>
                                <option value="ASSISTED">ASSISTED</option>
                                <option value="MOBILE">MOBILE</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-group col-md-3">
                        <div class="input-group">
                            <select class="form-control col-sm-12 select2" id="category" name="category" style="font-size: 10px !important;">
                                <option value="">Select Category</option>
                                <option value="NIDA">NIDA</option>
                                <option value="ATTACHMENT">NON-NIDA</option>
                            </select>
                        </div>
                    </div>
                </div>
            </form>
            <div id="successFlag">
            </div>
            <div id="loading" hidden=""></div>
            <div class="row">
                <table id="customersKyc" class="display nowrap table table-striped table-bordered" style="width: 100%; font-size: 9.5px !important;">
                    <thead>
                        <tr>
                            <th>S/N</th>
                            <th>Tracking No</th>
                            <th>Rim no</th>
                            <th>First name</th>
                            <th>Middle name</th>
                            <th>Last Name</th>
                            <th>Phone</th>
                            <th>Identity No</th>
                            <th>Branch</th>
                            <th>Status</th>
                            <th>Rubikon Status</th>
                            <th>ACTION</th>
                        </tr>
                    </thead>
                    <tbody>
                    </tbody>
                </table>
            </div>
        </div>
    </div>
</div>
<div layout:fragment="pageScript" th:remove="tag">
    <script th:src="@{/assets/plugins/datatables/jquery.dataTables.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.bootstrap.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.buttons.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/jszip.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/pdfmake.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/vfs_fonts.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.html5.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/buttons.print.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.keyTable.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.responsive.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/responsive.bootstrap.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.scroller.min.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.colVis.js}"></script>
    <script th:src="@{/assets/plugins/datatables/dataTables.fixedColumns.min.js}"></script>
    <!-- init -->
    <script th:src="@{/assets/pages/jquery.datatables.init.js}"></script>
    <script th:src="@{/assets/plugins/moment/moment.js}"></script>
    <script th:src="@{/assets/plugins/timepicker/bootstrap-timepicker.js}"></script>
    <script th:src="@{/assets/plugins/bootstrap-datepicker/js/bootstrap-datepicker.min.js}"></script>

    <!-- App Js -->
    <script th:src="@{/assets/js/jquery.app.js}"></script>
    <script th:src="@{/assets/plugins/select2v4/select2.min.js}"></script>
    <script th:src="@{/assets/scripts/kyc.js}"></script>
    <script type="text/javascript" th:inline="javascript">
        let userRoles = /*[[${roles}]]*/;
        let userBranch = /*[[${branch}]]*/;
        let accountProducts = /*[[${products}]]*/;
        $(document).ready(function () {
            jQuery('#fromDate').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            jQuery('#toDate').datepicker({
                autoclose: true,
                todayHighlight: true
            });
            $("#loading").hide();
            $(".select2").select2();
            $('.btn-submit-kyc-customers').click(function () {
                $('#customersKyc').DataTable().ajax.reload();
            });
            $("#type").on('change', function () {
                $('#customersKyc').DataTable().ajax.reload();
            });
            $("#category").on('change', function () {
                $('#customersKyc').DataTable().ajax.reload();
            });
            $("#branch").on('change', function () {
                $('#customersKyc').DataTable().ajax.reload();
            });
            var token = $("meta[name='_csrf']").attr("content");
            var header = $("meta[name='_csrf_header']").attr("content");
            var b = 1;
            var i = 0;
            var table = $('#customersKyc').DataTable({
                dom: 'Blfrtip',
                lengthChange: true,
                scrollCollapse: true,
                scrollY: "700px",
                scrollX: true,
                pageLength: 10,
                lengthMenu: [
                    [5, 10, 25, 50, 100, 500, -1],
                    [5, 10, 25, 50, 100, 500, 'Show all']
                ],
                responsive: false,
                processing: true,
                serverSide: true,
                serverMethod: 'post',
                order: [1, "desc"],
                ajax: {
                    'url': '/getCustomersAjax',
                    'beforeSend': function (request) {
                        request.setRequestHeader(header, token);
                    },
                    "data": function (d) {
                        return $.extend({}, d, {
                            "branch": $("select[name='branch']").val(),
                            "type": $("select[name='type']").val(),
                            "category": $("select[name='category']").val(),
                            "fromDate": $("input[name='fromDate']").val(),
                            "toDate": $("input[name='toDate']").val()
                        });
                    }
                },
                "columns": [
                    {"data": "id"},
                    {"data": "id"},
                    {"data": "cust_no"},
                    {"data": "first_name"},
                    {"data": "middle_name"},
                    {"data": "last_name"},
                    {"data": "phone_number"},
                    {"data": "id_number"},
                    {"data": "branch"},
                    {"data": "action_status"},
                    {"data": "cbs_response_code"},
                    {
                        "data": "id",
                        "orderable": false,
                        "searchable": false,
                        "render": function (data, type, row, meta) {
                            var a = "";
                            a = `<button type="button" class="btn btn-primary" onclick='getCustomerKycAndAccountDetails("${row.id}","${row.branch_code}","${row.action}",${JSON.stringify(accountProducts)})'>Details</button>`;
                            if (userRoles.includes('21') || userRoles.includes('26') || userRoles.includes('27')
                            || userRoles.includes('44')) {
                                a += '&nbsp;<button type="button" class="btn btn-primary" onclick="';
                                a += 'editCustomerDetails('+row.id+')">Edit</button>';
                                a += '&nbsp;<button type="button" class="btn btn-primary" onclick="';
                                a += 'viewCustomerAttachments('+row.id+')">View Attachment</button>';
                            }
                            return a;
                        }
                    }
                ], aoColumnDefs: [
                    {
                        bSortable: false,
                        aTargets: [-1],
                    }
                ], columnDefs: [
                    {
                        target: 8,
                        visible: userBranch === '060' ? true : false,
                        searchable: false,
                    }
                ],
                buttons: [{
                        extend: "copy",
                        title: 'AGENTS CUSTOMERS ON WORKFLOW',
                        className: "btn-sm"
                    }, {
                        extend: "csv",
                        title: 'AGENTS CUSTOMERS ON WORKFLOW',
                        className: "btn-sm"
                    }, {
                        extend: "excel",
                        title: 'AGENTS CUSTOMERS ON WORKFLOW',
                        className: "btn-sm"
                    }, {
                        extend: "pdf",
                        title: 'AGENTS CUSTOMERS ON WORKFLOW',
                        className: "btn-sm"
                    }, {
                        extend: "print",
                        title: 'AGENTS CUSTOMERS ON WORKFLOW',
                        className: "btn-sm"
                    }],
                "preDrawCallback": function (settings) {
                    if ($("select[name='mno']").val() == '') {
                        return false;
                    }
                },
            });
            table.on('order.dt search.dt', function () {
                table.column(0, {search: 'applied', order: 'applied'}).nodes().each(function (cell, i) {
                    cell.innerHTML = i + 1;
                });
            }).draw();
        });
        function reloadDatatable() {
            $('#customersKyc').DataTable().ajax.reload();
        }
    </script>
</div>
